# Rails Configuration
RAILS_ENV=development
RAILS_LOG_TO_STDOUT=true

# Engine Configuration
ENGINE_URL=http://engine:4567

# Engine Timeout
ENGINE_TIMEOUT=30

# NOTE: This file has NO SECRETS
# Copy to .env and fill in real values